extends ./layout.jade
block contenido  
  div(class="row h-100 justify-content-center align-items-center")
    div(class="col-md-6 remove-float center-block text-center")
      h1 Bienvenido a mi pagina
      a(href="/login" class="right-space") Iniciar sesion
      a(href="signup") Registro