.right-space{
    /*Agregar margen a la derecha*/
    margin-right: 1em;
    
}
.remove-float{
    float: none; 
}
/*Dejar espcacio arriba*/
.top-space{
margin-top: 1.5em;
margin: auto;
}
/*Centrar el texto del menu con div*/
div{width:50%;border:1px ;padding:8px;margin:auto;}
		center{margin:16px 0;}
/*Para margen de arriba*/
.big-top-space{
    margin-top: 200px;
}